body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  box-sizing: border-box;
  background-color: #eef;
}

.css-1q1u3t4-MuiTableRow-root {
  font-size: 18px !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
}

.css-1shveaz-MuiButtonBase-root-MuiButton-root {
  width: 20px !important;
  height: 20px !important;
}
